.team-builder {
  width: 100vw;
  height: 100vh;

  .team-builder-main {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid salmon;

    &.normal {
      padding-bottom: 0;

      .main-section {
        overflow-y: hidden;

        .main-container {
          justify-content: center;
          gap: 0;
        }
      }
    }

    &.short {
      padding-bottom: 40px;

      .main-section {
        overflow-y: auto;

        .main-container {
          justify-content: stretch;
          gap: 10px;
        }
      }
    }

    .main-section {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      // border: 2px solid purple;
      overflow-x: hidden;

      .main-container {
        height: 100%;
        aspect-ratio: 0.85 / 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 2px solid aqua;

        .grid-size {
          // border: 2px solid green;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 5px;
          margin: 10px 0;

          .grid-size-label {
            // border: 2px solid red;
            color: white;
            font-family: "Calibri", sans-serif;
            font-size: 18px;
          }

          .size-changer {
            position: relative;

            button {
              // height: 100%;
              cursor: pointer;
              background-color: transparent;
              border: none;
              // border: 2px solid blue;
              width: max-content;
              display: flex;
              flex-direction: row;
              justify-content: right;
              padding-right: 10px;
              align-items: center;
              gap: 5px;

              img {
                position: relative;
                top: 1px;
                // border: 1px solid red;
                transform: rotate(-90deg);
                transition: transform 150ms ease-out;
              }

              img.active {
                transform: rotate(0);
              }

              p {
                // border: 1px solid blue;
                color: white;
                font-family: "Calibri", sans-serif;
                font-size: 18px;
              }
            }

            .sort-dropdown {
              z-index: 10;
              position: absolute;
              left: 0;
              right: 0;
              height: max-content;
              // border-radius: 8px;
              background-color: #292929;
              top: calc(100% - 2px);
              // left: 10px;
              box-shadow: 1px 1px 3px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              transition: none;
              opacity: 0;
              transform: translateY(-10px);
              pointer-events: none;

              &.active {
                transition: opacity 150ms ease-in-out,
                  transform 150ms ease-in-out;
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
              }

              .sort-option {
                user-select: none;
                font-size: 14px;
                padding: 2px 10px;
                font-family: "Segoe UI", sans-serif;
                color: rgb(216, 216, 216);
                width: 100%;
                // border: 2px solid red;

                &:hover {
                  background-color: #353535;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
